<!DOCTYPE html>
<html lang="en">

<head>
  <title>Event Invitation</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/ef0d3f5c2f.js"></script>
  <!-- jQuery file to handle the button click event -->
  <script type="text/javascript" src="/scripts/new-invite.js"></script>

</head>


<body id="body">
  <% include ./header %>
  <div id="page-layout">
    <h2>Let <span class="text-capitalize"><%=infos.owner %></span> know you're availability to attend their event <%=infos.title %> </h2>

    <div>
      <p>Need a little more information about the event?</p><span class="text-capitalize"><%=infos.title %></span>
      <p>says....</p><span><%=infos.description %></span>
    </div>
    <div>
      <table>"table showing everyones availability"
        <tr>
          <th>Attendees</th>
          <% for (const info in timeslots) { %>
          <th>From <%=timeslots[info].start_date_time.toString().slice(0,21) %> To
            <%=timeslots[info].end_date_time.toString().slice(0,21) %>
          </th>
          <% } %>
        </tr>
        <% if (! attendees.length) { %>
        <tr>
          No one accepted yet! :(
        </tr>
        <%} else {%>
        <% for (const attendeeName of attendees) { %>
        <tr>
          <th class="text-capitalize"><%=attendeeName %></th>
          <% for (const ts in timeslots) { %>
          <% if(timeslots[ts].attendees.includes(attendeeName)) { %>
          <th>available</th>
          <% } else { %>
          <th>not available</th>
          <% } %>
          <% } %>
        </tr>
        <% } %>
        <% } %>
      </table>
      <button class="updateBtn">Update Your Availability</button>
      <button class="addBtn">Add Your Availability</button>
    </div>
    <div name="add-new-availability">
      <form method="POST" action="/event/attendee" class="addAttendee">
        <p>Firstly tell us little about yourself</p>
        <input type="text" name="attendeeName" placeholder="Your Name">
        <input type="text" name="attendeeEmail" placeholder="Your Email">
        <input type="hidden" name="eventURL" value=<%=infos.eventURL %>>
        <input type="hidden" name="eventId" value=<%=infos.eventId %>>
        <br>
        <table>
          table to select availability....
          <tr>
            <% for (const info in timeslots) { %>
            <th>From <%=timeslots[info].start_date_time.toString().slice(0,21) %> To
              <%=timeslots[info].end_date_time.toString().slice(0,21) %>
            </th>
            <% } %>
          </tr>
          <tr>
            <% for (const tsid in timeslots) { %>
            <th>
              <input type="checkbox" name="timeslotId" value=<%=tsid %>>
            </th>
            <% } %>
          </tr>
        </table>
        <button>Submit</button>
      </form>

      <!-- the form will show up when user click the update button -->
      <form method="POST" action="/event/attendee/update" class="updateAttendee">
        <p>Please Confirm Your Name And Email</p>
        <input type="text" name="attendeeName" placeholder="Your Name">
        <input type="text" name="attendeeEmail" placeholder="Your Email">
        <input type="hidden" name="eventURL" value=<%=infos.eventURL %>>
        <input type="hidden" name="eventId" value=<%=infos.eventId %>>
        <br>
        <table>
          table to select availability....
          <tr>
            <% for (const info in timeslots) { %>
            <th>From <%=timeslots[info].start_date_time.toString().slice(0,21) %> To
              <%=timeslots[info].end_date_time.toString().slice(0,21) %>
            </th>
            <% } %>
          </tr>
          <tr>
            <% for (const tsid in timeslots) { %>
            <th>
              <input type="checkbox" name="timeslotId" value=<%=tsid %> id=<%=tsid %> >
              <label for=<%=tsid %></label>
            </th>
            <% } %>
          </tr>
        </table>
        <button>Comfirm</button>
      </form>
    </div>
  </div>
</body>

</html>
