<!DOCTYPE html>
<html lang="en">

<head>
  <title>Event Invitation</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/ef0d3f5c2f.js"></script>

</head>


<body id="body">
  <% include ./header %>
  <div id="page-layout">

    <form action="" method="GET">

      <h2>Welcome <%=data[0].name%></h2>

      <h3>See the responses for your event <%=data[0].title %></h3>

      <div>
        <table>"table showing everyones availability"
          <tr>
          </tr>
          <tr>
            <% for (const info of data) { %>
            <th>From <%=info.start_date_time.toString().slice(0,21) %> To
              <%=info.end_date_time.toString().slice(0,21) %>
            </th>
            <% } %>
          </tr>
        </table>
    </form>

  </div>
  <form action="/event/modifyname" method="POST">
    <h4>Need to make a change to your event?</h4>
    <h4><%=data[0].title %></h4>
    <input type='text' name="modify-name" placeholder=<%=data[0].title %> />
    <button name="modify-name" type="submit">M</button>

    <h4><%=data[0].description%></h4>
    <input type='text' name="modify-description" placeholder=<%=data[0].description %>
    <button name="modify-description"type="submit">M</button>

    <input type="hidden" name="eventId" value=<%=data[0].id%>>

  </form>

  </div>
</body>

</html>
