<!DOCTYPE html>
<html lang="en">

<head>
  <title>Event Invitation</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/ef0d3f5c2f.js"></script>

</head>


<body id="body">
  <% include ./header %>
  <div id="page-layout">

    <form action="" method="GET">

      <h2>Welcome <%=data[0].name%></h2>

      <h3>See the responses for your event</h3><h3><%=data[0].title %></h3>

    </form>

    <div>
      <table>
        <tr>
          <th><i class="fas fa-users"></i></th>
          <% for (const info in timeslots) { %>
          <th><p><%=timeslots[info].start_date_time.toString().slice(0,21) %></p><p>~</p><p>
            <%=timeslots[info].end_date_time.toString().slice(0,21) %></p>
          </th>
          <% } %>
        </tr>
        <% let names=[] %>
        <% if (attendees.length === 0) { %>
        <tr><p class="no-attendees">
          No one has added their availability just yet!</p>
        </tr>
        <%} else {%>
        <% for (const attendeeName of attendees) { %>
        <tr>
          <th><%=attendeeName %></th>
          <% for (const ts in timeslots) { %>
          <% if(timeslots[ts].attendees.includes(attendeeName)) { %>
          <th><i class="far fa-check-circle"></i></th>
          <% } else { %>
          <th><i class="far fa-times-circle"></i></th>
          <% } %>
          <% } %>
        </tr>
        <% } %>
        <% } %>
      </table>
    </div>

    <div class="modify-event">
      <p>Need to make a change to your event?</p>

      <form action="/event/organiser/modifyname" method="POST">
        <input type="text" name="modify-name" class="validate" id="name" value="<%=data[0].title%>">

        <button name="modify-name" type="submit"><i class="fas fa-pencil-alt"></i></button>

        <input name="eventIdVal" type="hidden" value=<%=eventid%>>
      </form>

      <form action="/event/organiser/modifydescription" method="POST">
        <textarea name="modify-description" id="description"
          value="<%=data[0].description%>"><%=data[0].description%></textarea>

        <button name="modify-description" type="submit"><i class="fas fa-pencil-alt"></i></button>

        <input name="eventIdVal" type="hidden" value=<%=eventid%>>
      </form>
    </div>
  </div>

</body>

</html>
